
<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-buttons end [hidden] = "(keychain.storageResp !== 3)">
        <button ion-button icon-start (click) = "addItem()">
            <ion-icon name="add"></ion-icon>
          </button>
      </ion-buttons>      
      <ion-title>{{ 'titles.twoFactor' | translate }}</ion-title>
    </ion-navbar>
  </ion-header>

  
  <ion-content padding>
    <ion-list *ngFor="let itemGroupsName of itemGroupsNames(itemGroups)">
        <ion-list-header>
            <h1>
                {{itemGroupsName}}
            </h1>
          </ion-list-header>
  
      <ion-item-group *ngFor="let item of itemGroups[itemGroupsName]">
  
          <ion-item>
            <div>

                    <ion-fab middle right edge>
                            <button ion-fab mini><ion-icon name="key"></ion-icon></button>
                            
                            <ion-fab-list style = "background-color: white;  box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.1);" side="left">
                                
                                <button ion-fab mini clear 
                                    (click) = "deleteItem(item.uuid)"> 
                                        <ion-icon name="trash"></ion-icon>
                                  </button>
                                  <button ion-fab clear 
                                    (click) = "editItem(item)"> 
                                        <ion-icon name="create"></ion-icon>
                                  </button>
                      
                                  <button [hidden]="(shownItems[item.uuid] !== undefined)" 
                                          ion-fab clear 
                                          (click) = "showBarCode(item)"> 
                                        <ion-icon name="eye"></ion-icon>
                                  </button>
                      
                                  <button [hidden]="(shownItems[item.uuid] === undefined)" 
                                          ion-fab clear 
                                          (click) = "hideItem(item.uuid)"> 
                                        <ion-icon name="eye-off"></ion-icon>
                                  </button>
                            </ion-fab-list>
                        </ion-fab>
                    </div>

            <div>
                <h2>{{item.userName}}</h2>
                <button ion-button icon-start
                        (click) = "copyToClipboard(generateToken(item))">
                    <ion-icon name="copy"></ion-icon>
                    {{ generateToken(item) }}
    
                </button>
            </div>

            <ion-thumbnail item-start>
                <circle-progress
                [percent]="loadPercentage(timeRemaining)"
                [title]="timeRemaining"
                units='s'        
                [radius]="30"
                [animation]="false">
              </circle-progress>
                <img style = "width: 100px; height: 100px" [hidden] = "shownItems[item.uuid] === undefined" [src] = "sanitizer.bypassSecurityTrustUrl(imgs[item.uuid] ? imgs[item.uuid] : '')"/>
            </ion-thumbnail>
          </ion-item>
  
      </ion-item-group>
    </ion-list>
  
  
  
  
  </ion-content>
  