
<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-buttons start>
          <button ion-button icon-start (click) = "addItem()">
              <ion-icon name="add"></ion-icon>
              Add Item
          </button>
      </ion-buttons>      
      <ion-title>{{ 'titles.twoFactor' | translate }}</ion-title>
    </ion-navbar>
  </ion-header>

  
  <ion-content padding>
    <ion-list *ngFor="let itemGroupsName of itemGroupsNames(itemGroups)">
        <ion-list-header>
            <h1>
                {{itemGroupsName}}
            </h1>
          </ion-list-header>
  
      <ion-item-group *ngFor="let item of itemGroups[itemGroupsName]">
  
          <ion-item>
            <ion-buttons item-end>

            <button ion-button clear 
              (click) = "deleteItem(item.uuid)"> 
                {{ 'options.delete' | translate }}
            </button>
            <button ion-button clear 
              (click) = "editItem(item)"> 
                {{ 'options.edit' | translate }}
            </button>
  
            <button *ngIf="(shownItems[item.uuid] === undefined)" 
                    ion-button clear 
                    (click) = "showBarCode(item)"> 
                {{ 'options.show' | translate }}
            </button>
  
            <button *ngIf="(shownItems[item.uuid] !== undefined)" 
                    ion-button clear
                    (click) = "hideItem(item.uuid)"> 
                {{ 'options.hide' | translate }}
            </button>
            </ion-buttons>

            <div start>
                <h2>{{item.userName}}</h2>
                <button ion-button icon-start
                        (click) = "copyToClipboard(generateToken(item))">
                    <ion-icon name="copy"></ion-icon>
                    {{ generateToken(item) }}
    
                </button>
            </div>

            <ion-thumbnail item-start>
                <circle-progress
                [percent]="loadPercentage(timeRemaining)"
                [title]="timeRemaining"
                units='s'        
                [radius]="30"
                [animation]="false">
              </circle-progress>
                <img [hidden] = "shownItems[item.uuid] === undefined" [src] = "sanitizer.bypassSecurityTrustUrl(imgs[item.uuid] ? imgs[item.uuid] : '')"/>
            </ion-thumbnail>
          </ion-item>
  
      </ion-item-group>
    </ion-list>
  
  
  
  
  </ion-content>
  