
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end [hidden] = "(keychain.storageResp !== 3)">
        <button ion-button icon-start (click) = "addItem()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-buttons>      
    <ion-title>{{ 'titles.passwords' | translate }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-list *ngFor="let itemGroupsName of itemGroupsNames(itemGroups)">
      <ion-list-header>
          <h1>
              {{itemGroupsName}}
          </h1>
        </ion-list-header>

    <ion-item-group *ngFor="let item of itemGroups[itemGroupsName]">
                
        <ion-item >
          <ion-buttons item-end middle>
            <ion-fab style = "padding-top: 5px" top right edge>
                <button ion-fab mini><ion-icon name="key"></ion-icon></button>
                
                <ion-fab-list style = "padding-top: 5px; background-color: white;  box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.1);" side="left">
                    
                    <button ion-fab mini clear 
                        (click) = "deleteItem(item)"> 
                            <ion-icon name="trash"></ion-icon>
                      </button>
                      <button ion-fab clear 
                        (click) = "editItem(item)"> 
                            <ion-icon name="create"></ion-icon>
                      </button>
          
                      <button [hidden]="(shownItems[item.uuid] !== undefined)" 
                              ion-fab clear 
                              (click) = "showItem(item.uuid)"> 
                            <ion-icon name="eye"></ion-icon>
                      </button>
          
                      <button [hidden]="(shownItems[item.uuid] === undefined)" 
                              ion-fab clear 
                              (click) = "hideItem(item.uuid)"> 
                            <ion-icon name="eye-off"></ion-icon>
                      </button>
                </ion-fab-list>
            </ion-fab>

          </ion-buttons>
          <div>
            <ng-content></ng-content>
            <h2>{{item.title}}</h2>
            <button ion-button icon-start 
                    (click) = "copyToClipboard(item.userName)">
                <ion-icon name="person"></ion-icon>
                {{item.userName}}
            </button>
            <button ion-button icon-start
                    (click) = "copyToClipboard(item.password)">
                <ion-icon name="hand"></ion-icon>
                {{ 'options.password' | translate }}
            </button>
            <h2 [hidden] = "shownItems[item.uuid] === undefined">
                {{item.password}}
            </h2>
          </div>

        </ion-item>

    </ion-item-group>
  </ion-list>

</ion-content>
