
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons start>
        <button ion-button icon-start (click) = "addPassword()">
            <ion-icon name="add"></ion-icon>
            Add Password
        </button>
    </ion-buttons>      
    <ion-title>{{ 'titles.passwords' | translate }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-list *ngFor="let passwordGroupsName of passwordGroupsNames(passwordGroups)">
      <ion-list-header>
          <h1>
              {{passwordGroupsName}}
          </h1>
        </ion-list-header>

    <ion-item-group *ngFor="let password of passwordGroups[passwordGroupsName]">

        <ion-item>

          <button ion-button clear item-end 
            (click) = "deletePassword(password.uuid)"> 
              {{ 'options.delete' | translate }}
          </button>
          <button ion-button clear item-end 
            (click) = "editPassword(password)"> 
              {{ 'options.edit' | translate }}
          </button>

          <button *ngIf="(shownPasswords[password.uuid] === undefined)" 
                  ion-button clear item-end 
                  (click) = "showPassword(password.uuid)"> 
              {{ 'options.showPassword' | translate }}
          </button>

          <button *ngIf="(shownPasswords[password.uuid] !== undefined)" 
                  ion-button clear item-end 
                  (click) = "hidePassword(password.uuid)"> 
              {{ 'options.hidePassword' | translate }}
          </button>
          <h2>{{password.model.title}}</h2>
          <button ion-button icon-start 
                  (click) = "copyToClipboard(password.model.userName)">
              <ion-icon name="person"></ion-icon>
              {{password.model.userName}}
          </button>
          <button ion-button icon-start
                  (click) = "copyToClipboard(password.model.password)">
              <ion-icon name="hand"></ion-icon>
              {{ 'options.password' | translate }}
          </button>
          
          <h2 [hidden] = "shownPasswords[password.uuid] === undefined">
            {{password.model.password}}
          </h2>
        </ion-item>

    </ion-item-group>
  </ion-list>




</ion-content>
